<% @user ||= current_user %>
<div class="stats well">
  <button class="btn btn-default" onclick='window.location.href="<%= following_user_path(@user) %>"'>
    following
    <span id="following" class="stat badge">
      <%= @user.following.count %>
    </span>
  </button>
  <button class="btn btn-default" onclick='window.location.href="<%= followers_user_path(@user) %>"'>    followers
    <span id="followers" class="stat badge">
      <%= @user.followers.count %>
    </span>
  </button>
  <div class="clearfix"></div>
</div>
